
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer p {
    margin: 0;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.footer-item {
    margin: 0 1rem;
}

.footer-item a {
    color: white;
    text-decoration: none;
}

.footer-item a:hover {
    text-decoration: underline;
}